.defaultFont,
body,
input[type='text'] {
  font-size: 16px;
  line-height: 1.5em;
}
.headerFont,
header #title {
  font-weight: light;
  font-size: 26px;
  line-height: 1em;
}
.uncheckedStyle,
#todo-list .todo-item .completeContainer .complete,
#todo-list .todo-item .completed .complete:active {
  background: none;
  border: 1px solid #74d5ff;
}
.willCheckStyle,
#todo-list .todo-item .completeContainer .complete:hover {
  background-color: rgba(116,213,255,0.15);
  border: 1px solid #74d5ff;
}
.checkedStyle,
#todo-list .todo-item .completeContainer .complete:active,
#todo-list .todo-item .completed .complete {
  background-color: #74d5ff;
  border: 3px double #fff;
}
.willUncheckStyle,
#todo-list .todo-item .completed .complete:hover {
  background-color: rgba(116,213,255,0.85);
  border: 3px double #fff;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
#todoapp {
  height: 100%;
}
body {
  background-color: #fdfbfa;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
input[type='text'] {
  width: 100%;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(0,0,0,0.1);
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  margin: 0;
}
input[type='text']:focus {
  outline: 0;
  border-color: #74d5ff;
}
#todoapp {
  height: 100%;
  max-width: 500px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.15);
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  background-color: #fff;
}
header {
  padding-bottom: 0.5em;
}
header #title {
  margin: 20px;
  text-align: center;
}
#todo-list .todo-item {
  position: relative;
  margin: 0;
  height: 46px;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  background-color: transparent;
}
#todo-list .todo-item.prep {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
  background-color: rgba(255,217,82,0.5);
}
#todo-list .todo-item .completeContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
}
#todo-list .todo-item .completeContainer .complete {
  margin-top: 10px;
  margin-left: 10px;
  height: 26px;
  width: 26px;
  cursor: pointer;
}
#todo-list .todo-item .text {
  padding-left: 56px;
  padding-right: 56px;
  border-color: transparent;
}
#todo-list .todo-item .text:focus {
  border-color: #74d5ff;
}
#todo-list .todo-item .delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1em;
  color: transparent;
}
#todo-list .todo-item:hover .delete {
  color: #f00;
}
#todo-list .todo-item:hover .delete:hover {
  background-color: rgba(255,0,0,0.1);
}
#todo-list .todo-item:hover .delete:active {
  background-color: #f00;
  color: #fff;
}
#todo-list .todo-item .completed .text {
  color: rgba(0,0,0,0.25);
  text-decoration: line-through;
}
#todo-list .todo-item.deleted {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.25s ease-out;
  -moz-transition: height 0.25s ease-out;
  -o-transition: height 0.25s ease-out;
  -ms-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}
#todo-list .todo-item.deleted .delete,
#todo-list .todo-item.deleted .completeContainer {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
